body{
    font-family: "montserrat";
    text-align: center;
}
h1{
    font-family: "montserrat-black";
    size: 3.5rem;
    height: 1.5;
}
h2{
    font-family: "montserrat-bold";
    size: 5rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
h3{
    font-family: "montserrat-bold";
    font-weight: bold;
    font-size: 1.5rem;
}
p{
    color: #8f8f8f;
}
/* title  */
#title{
    background-color: #ff4c68;
    color: #fff;
}
.title-img{
    width: 60%;
    transform: rotate(25deg);
}
/* nav bar */
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.navbar-brand{
font-family: "ubuntu";
font-size: 2.5rem;
font-weight:bold ;
}
.nav-link{
    font-size: 1.25rem;
    font-family: "montserrat-light";
}

/* down btn */
.down-btn{
    margin: 5% 3% 5% 0;
}
#features{
    padding: 7% 15%;
    background-color: #fff;
    position:relative;
    z-index: 1;
}
.icon{
    color: #ef8172;
    margin-bottom:1.5rem;
}
.icon:hover{
    color: #ff4c68;
}
.feature-box{
text-align: center;
padding:5%;
}
/* TESTIMONIAL */
#testimonials{
   
    text-align: center;
    background-color:#ef8172 ;
    color: #ffff;
}
.carousel-item{
    padding: 7% 15%;
}
.test-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
 .press-img{
     margin: 20px 20px 50px;
     width: 15%;
 }
 /* pricing section */
 #pricing{
     padding: 100px;
     text-align: center;
 }
 .pricing-column{
     padding: 3% 2%;
 }
 /* cta  */
 #cta
 {
     background-color:#ff4c68;
     color: #fff;
     font-family: "montserrat-black";
     padding: 7% 15%;
     text-align: center;
 }
 .cta-heading{
     font-family: "montserrat-black";
     font-size: 3.5rem;
     line-height: 1.5;
 }
 /* footer  */
 #footer{
     padding: 7% 15%;
     text-align: center;
 }
 .social-icon{
     margin: 20px 10px;
 }
 /* responsive */
 @media (max-width:1028px) {
     #title{
         text-align: center;
     }
     .title-img{
         position: static;
         transform: rotate(-25deg);
         padding: 20% 0;
     }
 }